@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');

:root {
    --primary-color: #111827;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Hind', sans-serif;
    margin: 0px
}

hr {
    margin: 2rem 0rem;
}

.margin-md {
    margin: 2rem;
}

.container {
    padding: 0rem 1rem;

}

.container-center {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;

}

.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    margin: 0px auto;
    text-decoration: none;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.45rem;
    color: white;
    display: inline;
    max-width: 140px;
}

.link-primary:hover {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: black;
    transition-duration: 0.2s;
    border-radius: 0.3;
}


.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: inline;
    max-width: 140px;

}

.link-secondary:hover {
    color: white;
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    /* border: 1px solid var(--primary-color); */
    transition-duration: 0.2s;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
    margin: 0px auto;

}

.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.footer .link {
    color: white
}

.footer .link:hover {
    border-bottom: 1.5px solid white;
    transition: 0.3s;

}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.showcase-list {
    padding: 2rem;
}

.showcase-blog {
    padding-bottom: 6rem;
}